@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
    color: #000;
    background-color: #fff;
}

.inverse {
    background-color: #000;
    color: #fff;
}

pre {
    font-size: 7px;
    text-align: center;
    font-family: Ubuntu Mono, monospace !important;
    text-rendering: optimizeSpeed;
}

#video-scene {
    border: 1px solid #afafaf;
}